/* Havoc About Us Css */
.havoc-about-us {
  padding: 150px 0;
}
.havoc-about-us p {
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 40px;
  color: #000000;
  padding: 50px 0 0;
  margin: 0;
}

/* Havoc Beloved Clients Css */
.havoc-beloved-clients {
  padding: 0 0 120px;
}
.havoc-beloved-clients .havoc-section-title {
  padding-bottom: 60px;
}
.havoc-beloved-clients .row {
  margin: 0 -20px;
}
.havoc-beloved-clients [class*="col-"] {
  padding: 0 20px 50px;
}
.havoc-beloved-clients a {
  display: block;
  clear: both;
  padding: 50px;
  text-align: center;
  background: rgba(247, 247, 247, 1.0);
  width: 100%;
  height: 242px;
}
.havoc-beloved-clients a:hover, .havoc-beloved-clients a:focus {
  background: rgba(255, 199, 89, 1.0);
}
.havoc-beloved-clients a img {
  opacity: 0.4;
}
.havoc-beloved-clients a:hover img {
  opacity: 1;
}
.havoc-table-wrap {
  display: table;
  height: 100%;
  width: 100%;
}
.havoc-align-wrap {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}